@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=Montserrat:wght@400;700&family=Roboto:ital,wght@1,300&family=Rubik&display=swap');

:root {
    --black: #14110F;
    --white: #F3F3F4;
    --gray: #7E7F83;
    --jet: #34312D;
    --dun: #D9C5B2;
    --chocolate: #4C212A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

body {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;

    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 55%;
    width: 100%; 
}

header {
    background-color: var(--black);
    color: var(--dun);
    width: 100%;
    height: 120px;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--dun);
    padding: 1rem;
}

.liga:hover {
    background-color: var(--dun);
    color: var(--black);
    border-radius: 2rem;
}

.logo {
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
 }

 .logo:hover {
    background-color: var(--white);
    color: var(--black);
    border-radius: 2rem;
 }

.menu {
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 1.75rem;
    font-size: 1.5rem;
    justify-content: space-between;
}

section {  
    display: grid;
    justify-content: center;
    align-items: center;
    /* border-radius: 1rem; */
}

.seccion {
    padding: 1rem;
    gap: 1rem;
    display: grid;
}

.principal {
    background-color: rgba(240, 248, 255, 0.326);
    width: 100%;
    /* opacity: 1; */
    display: flex;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.foto {
    border-radius: 150px;
    border:10px solid var(--dun);
    position: relative;
    max-height: 300px;
    max-width: 300px;
}

.name {
    color: var(--black);
}
.hola-mundo {
    margin-left: 4rem;
    font-size: 2rem;
    font-weight: 1000;
}

.overlay {
    visibility: hidden;
}
.click-me {
    font-weight: 700;
    visibility: hidden;
    font-size: 30px;
    padding: 1rem;
    margin-top: -45%;
    color: var(--black);
}

.proyectos {
    background-color: var(--dun);
    color: var(--black);
}

.proyectos-contenedor {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

.proyecto {
    padding: 0.6rem;
    background-color: var(--white);
    border-radius: 2rem;
    /* font-size: 1rem; */
}

.proyecto-numero {
    margin-top: -0.1rem;
    margin-bottom: 0.75rem;
}

.proyecto-imagen {
    border-radius: 2rem;
    height: 160px;
    width: 270px;
}

.proyecto-ligas {
    margin-top: 0.5rem;
    margin-bottom: -1rem;
}

.proyecto-imagen-contenedor {
    cursor: pointer;
}

.proyecto:hover .overlay{
    opacity: 1;
    visibility: visible;
}
.proyecto-imagen-contenedor:hover {
    cursor: pointer;
    opacity: 0.75;
}
.proyecto:hover .click-me {
    font-size: 400;
    visibility: visible;
}

.bi {
    color: var(--jet);
    font-size: 2.1rem;
}

.bi:hover {
    background-color: var(--dun);
    color: var(--black);
    border-radius: 1rem;
}

.contacto {
    background-color: var(--dun);
    color: var(--black);
}

.sobre-mi {
    background-color: var(--black);
    color: var(--white);
}

.trayectoria {
    background-color: var(--black);
    color: var(--white);
}





footer {
    background-color: var(--black);
    color: var(--dun);
}